.gameImg {
    width: 250px;
    height: 150px;
}
.games {
    display: flex;
    flex-direction: column;
}

.genreRow {
    display: flex;
    flex-direction: row;

}   
.container {
    display: flex;
    margin-bottom: 25px;
  }

  .item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
    width: 250px;
    height: 150px;
  }
  
  .container:focus-within .item,
  .container:hover .item {
    transform: translateX(-25%);
  }
  
  .item:focus ~ .item,
  .item:hover ~ .item {
    transform: translateX(25%);
  }
  
  .container .item:focus,
  .container .item:hover {
    transform: scale(1.5);
    z-index: 1;
  }
  
  .item img {
    display: block;
    max-width: 100%;
    width: 270px;
    height: 170px;
  }

  .gameGenreTitles{
    margin-bottom: 50px;
    display: block;
  }